/* nav style */
.bg {
    background: rgba(255, 248, 243, 1);
    background-image: url('../images/developer.png'), url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left, right bottom;
}

.work-sans-normal {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.nav_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_bar .text_primary {
    color: #FD6E0A;
}

.nav_bar .nav_title {
    font-weight: 800;
    font-size: 45px;
    margin-left: 226px;
}

.manu {
    display: flex;
    align-items: center;
}

.manu li {
    list-style: none;
    margin-left: 51px;
}

.manu li a {
    text-decoration: none;
    color: rgba(71, 71, 71, 1);
    font-size: 20px;
}

.manu .btn {
    margin-right: 230px;
    border-radius: 5px;
    background-color: rgba(253, 110, 10, 1);
    padding: 18px 35px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.bannar {
    display: flex;
    justify-content: space-between;
    padding: 47px 38px 0px 230px;
}

.text_area h2 {
    color: rgba(71, 71, 71, 1);
    font-size: 45px;
    font-weight: 600;
}

.text_area h1 {
    color: rgba(24, 24, 24, 1);
    font-size: 85px;
    font-weight: 700;
}

.text_area p {
    color: rgba(117, 117, 117, 1);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.btn1 {
    border-radius: 5px;
    background: rgba(253, 110, 10, 1);
    color: white;
    padding: 19px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    margin-right: 20px;
    margin-top: 30px;
    cursor: pointer;
}

.btn2 {
    padding: 18px;
    border: 1px solid rgba(253, 110, 10, 1);
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: rgba(253, 110, 10, 1);
    background-color: #fff;
    cursor: pointer;
}

.bannar img {
    width: 584px;
    height: 676px;
}